@mixin mixin-limit-max-width {
	min-width: 1500px;
	padding: 0 calc((100% - 1560px) / 2 + 30px);
}

.limit-max-width-media {
	@media screen and (min-width: 1560px) {
		@include mixin-limit-max-width;
	}

	@media screen and (max-width: 1559px) {
		padding: 0 25px;
	}
	@media screen and (max-width: 769px) {
		padding: 0 12px;
	}
}

.flex {
	display: flex;
}
.flex-column {
	@extend .flex;
	flex-direction: column;
	align-items: center;
}

.theme-text-shadow {
    background-image: linear-gradient(180deg, #fff 40%, #f40bff);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.theme-bg-button {
    background-image: url("~@/assets/button/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 106px;
    width: 366px;
    font-size: 36px;
    @media screen and (max-width: 768px) {
        height: 55px;
        width: 180px;
        font-size: 18px;
    }
}
.theme-bg-button-o {
    @extend .theme-bg-button;
    background-image: url("~@/assets/button/button-o.png");
}
.time-shadow {
    font-family: "Regular";
    font-size: 42px;
    position: relative;
    color: #343f54;
    text-indent: 4px;
    &[data-time="1"]::after {
        right: -8px;
    }
    &[data-time="7"]::after {
        right: -1px;
    }
    &::after {
        position: absolute;
        right: 0;
        color: #fff;
        content: attr(data-time);
    }
    @media screen and (max-width: 768px) {
        font-size: 18px;
        &[data-time="1"]::after {
            right: -4px;
        }
    }
}
.theme-bg-view {
    background: url("~@/assets/homepage/bg-bg.png") center no-repeat;
    background-size: cover;
}