@font-face {
    font-family: "Regular";
    src: url('~@/assets/font/DIGITAL-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@mixin mixin-font-hide {
	// display: -webkit-box;
	// -webkit-box-orient: vertical;
	// overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.font-hide ,
[font-hide] {
	@include mixin-font-hide;
	// -webkit-line-clamp: var(--line-clamp,1);
}

.text-center {
	text-align: center;
}